name: shakespair
dependencies:
- certifi=2016.2.28=py36_0
- libprotobuf=3.2.0=0
- mkl=2017.0.3=0
- numpy=1.12.1=py36_0
- openssl=1.0.2l=0
- pip=9.0.1=py36_1
- protobuf=3.2.0=py36_0
- python=3.6.2=0
- readline=6.2=2
- setuptools=36.4.0=py36_1
- six=1.10.0=py36_0
- sqlite=3.13.0=0
- tensorflow=1.1.0=np112py36_0
- tk=8.5.18=0
- werkzeug=0.12.2=py36_0
- wheel=0.29.0=py36_0
- xz=5.2.3=0
- zlib=1.2.11=0
- pip:
  - appnope==0.1.0
  - bleach==2.1.2
  - decorator==4.2.1
  - entrypoints==0.2.3
  - html5lib==1.0.1
  - ipykernel==4.8.1
  - ipython==6.2.1
  - ipython-genutils==0.2.0
  - ipywidgets==7.1.2
  - jedi==0.11.1
  - jinja2==2.10
  - jsonschema==2.6.0
  - jupyter==1.0.0
  - jupyter-client==5.2.2
  - jupyter-console==5.2.0
  - jupyter-core==4.4.0
  - keras==2.1.4
  - markupsafe==1.0
  - mistune==0.8.3
  - nbconvert==5.3.1
  - nbformat==4.4.0
  - notebook==5.4.0
  - pandas==0.22.0
  - pandocfilters==1.4.2
  - parso==0.1.1
  - pexpect==4.4.0
  - pickleshare==0.7.4
  - prompt-toolkit==1.0.15
  - ptyprocess==0.5.2
  - pygments==2.2.0
  - python-dateutil==2.6.1
  - pytz==2018.3
  - pyyaml==3.12
  - pyzmq==17.0.0
  - qtconsole==4.3.1
  - scipy==1.0.0
  - send2trash==1.5.0
  - simplegeneric==0.8.1
  - terminado==0.8.1
  - testpath==0.3.1
  - tornado==4.5.3
  - traitlets==4.3.2
  - wcwidth==0.1.7
  - webencodings==0.5.1
  - widgetsnbextension==3.1.4

